header{
	background-color: #81AE40;
	color: white;
   font-family: 'Merriweather', serif;
   position: fixed;
   margin-left: 270px;

}

header li
{
	display: inline;
    text-decoration: none;
    float: right;
    font-size: 15px
}
 header li:hover{
	font-size: 20px;
}
p{
	text-align: center;
	font-size: 20px;
	background-color: #DCDCDC;
}
p:hover{
	font-size: 30px;
	color: #800000;

}

section li{
	
	float: left;
	font-size: 15px;
}
article{
	font-size: 15px;
	font-family: 'Raleway', sans-serif;
	background-color: #FFA500;
	color:#FFFFFF;

}
aside{
	color: #000000;
	font-size: 25px;
	font-family: 'Alegreya SC', serif;
	padding: 15px
}
footer{
	background-color: #DCDCDC;
	font-family: 'Aclonica', sans-serif;

}
footer section{
	font-size: 15px;
}
footer li{
	font-size: 15px;
	float: left;
}

.icon{
	background-color: #DCDCDC;
	float: right;
	font-size: 20px;

}
i:hover{
	font-size: 40px;
	color: #0000FF;
}